<div class="container">
  <div class="row">
    <div class="col-3">
     <%= render 'posts/info', posts: @posts %>
    </div>
    <div class="col-9">
      <div class="row d-flex justify-content-center mt-5"><h2>新規会員登録</h2></div>
　　　　<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row mt-4">
         <div class="col-2"><%= f.label :name, "名前" %></div>
         <div class="col-10"><%= f.text_field :name, autofocus: true %></div>
      </div>
      <div class="row mt-4">
         <div class="col-2"><%= f.label :email, "メールアドレス" %></div>
         <div class="col-10"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div>
      <div class="row mt-4">
         <div class="col-2"><%= f.label :password, "パスワード" %>
         <% if @minimum_password_length %>
         <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
         <% end %></div>
         <div class="col-10"><%= f.password_field :password, autocomplete: "new-password" %></div>
      </div>
      <div class="row mt-4">
         <div class="col-2"><%= f.label :password_confirmation, "確認用パスワード" %></div>
         <div class="col-10"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
      </div>
      <div class="row mt-4">
        <div class="actions"><%= f.submit "Sign up", class: "btn btn-info" %></div>
      </div>
      <!--<div class="row mt-4"><%= render "devise/shared/links" %></div>-->
　　<% end %>
　</div>
</div>


