<%= render 'posts/info', posts: @posts %>
<div>
  <h3><%= @user.name %></h3>
   <p><%= attachment_image_tag @user, :profile_image, :fill, 70, 70, format: 'jpeg' %></p>
   <p><%= @user.introduction %></p>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @posts.each do |post| %>
 <div>
   <p><%= post.name %></p>
   <%= link_to post_path(post.id) do %>
    <p><%= attachment_image_tag post, :image, format: 'jpeg', size: "300x300" %></p>
   <% end %>
   <p>投稿ユーザー:<%= post.user.name %></p>
   <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
 </div>
<% end %>
<%= paginate @posts %>

<h5>いいね一覧</h5>
<% if @like_list.present? %>
  <% @like_list.each do |post| %>
     <p><%= post.name %></p>
  <% end %>
<% end %>
