<!--topページ-->
<div class="container">
 <div class="row">
  <div class="col-md-2">
   <%= render 'posts/info', posts: @posts %>
  </div>
  <div class="col-10">
    <div class="row d-flex justify-content-center mt-4"><h4>お気に入りの穴場スポットが見つかる</h4></div>
   <hr>
   <h4>新着投稿</h4>
    <div class="d-flex justify-content-around mt-3">
      <% @posts.each do |post| %>
       <div class="shadow p-3 mb-5 bg-white rounded">
         <p><%= post.name %></p>
          <% if user_signed_in? %>
           <%= link_to post_path(post.id) do %>
            <p><%= attachment_image_tag post, :image, format: 'jpeg', size: "200x200" %></p>
           <% end %>
          <% else %>
             <p><%= attachment_image_tag post, :image, format: 'jpeg', size: "200x200" %></p>
          <% end %>
         <p>投稿ユーザー : <%= post.user.name %></p>
       </div>
      <% end %>
    </div>
     <%= paginate @posts %>
  </div>
 </div>
</div>