<% if user_signed_in? %>
  <li style="list-style: none;"><%= link_to 'ホーム', posts_path, class: "fa-solid fa-house" %></li>
  <li style="list-style: none;"><%= link_to '投稿', new_post_path, class: "fa-solid fa-pen-to-square" %></li>
  <li style="list-style: none;"><%= link_to 'マイページ', user_path(current_user.id), class: "fa-solid fa-circle-user" %></li>
  <li style="list-style: none;"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "fa-solid fa-right-from-bracket" %></li>
 <% else %>
  <li style="list-style: none;"><%= link_to "新規登録", new_user_registration_path, class: "fa-solid fa-user-plus" %></li>
  <li style="list-style: none;"><%= link_to "ログイン", new_user_session_path, class: "fa-solid fa-right-to-bracket" %></li>
<% end %>
