<%= render 'posts/info', posts: @posts %>
投稿一覧

<% @posts.each do |post| %>
 <div>
   <p><%= post.name %></p>
   <%= link_to post_path(post.id) do %>
    <p><%= attachment_image_tag post, :image, format: 'jpeg', size: "300x300" %></p>
   <% end %>
   <p>投稿ユーザー : <%= post.user.name %></p>
   <% if post.liked_by?(current_user) %>
    <p>
      <%= link_to post_likes_path(post), method: :delete do %>
        ♥<%= post.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_likes_path(post), method: :post do %>
        ♡<%= post.likes.count %> いいね
      <% end %>
    </p>
  <% end %>
   <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
 </div>
<% end %>
<%= paginate @posts %>