<!--投稿詳細ページ-->
<div class="container">
 <div class="row">
  <div class="col-md-2">
   <%= render 'posts/info', posts: @posts %>
  </div>

  <div class="col-ms-10">
    <center><h3><i class="fa-solid fa-store"></i><%= @post.name %></h3></center>
    <div class="row">

      <div class="col-md-5">
       <p><%= attachment_image_tag @post, :image, format: 'jpeg', size: "300x300" %></p>
      </div>

      <div class="col">
        <div class="align-self-center">
         <p><i class="fa-solid fa-location-dot"></i> <%= @post.address %></p>
         <p><%= @post.introduction %></p>
         <p><i class="fa-solid fa-user-pen"></i> <%= @post.user.name %></p>
         <p><i class="fa-regular fa-calendar-check"></i> <%= @post.created_at.strftime('%Y/%m/%d') %></p>
         <p>
           <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post), method: :delete %>
           <% end %>
         </p>
         <% if @post.liked_by?(current_user) %>
          <p>
           <%= link_to post_likes_path(@post), method: :delete do %>
            <i class="fa-solid fa-heart"></i><%= @post.likes.count %> いいね
           <% end %>
          </p>
         <% else %>
          <p>
           <%= link_to post_likes_path(@post), method: :post do %>
            <i class="fa-regular fa-heart"></i><%= @post.likes.count %> いいね
           <% end %>
          </p>
         <% end %>
        </div>
      </div>
    </div>
    <div class="row">
     <p>コメント<%= @post.post_comments.count %>件</p>
     <% @post.post_comments.each do |post_comment| %>
      <%= post_comment.user.name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
   　<% end %>
   　<% if @post_comment.user == current_user %>
      <div>
       <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
      </div>
     <% end %>
     <div class="container-fluid">
      <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
         <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
       <%= f.submit "送信する" %>
     <% end %>
    </div>
  </div>
 </div>
</div>